@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  background-color: #ffffff; /* 디자과 비슷한 밝은 회색 배경 */
  display: flex;
  justify-content: center;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 3;
}